.Wrapper {
  position: relative;
  text-align: center;
}

.Paragraph {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.ParagraphBlock {
  margin: 1rem 0 0 0;
  text-align: center;
}