.Card {
  background-color: var(--menu-background-color);
  height: 80vh;
  max-width: 400px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  padding: 0 2rem
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.ClipLoaderCenter {
  animation: fadein .2s forwards;
  text-align: center;
}

.TextHelper {
  animation: fadein .2s forwards;
  color: var(--orange);
}

@media(max-width: 575px) {
  .Card {
    max-width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),0 -1px 2px 0 rgba(0,0,0,.1);
  }
}

.TWOIOT {
  margin: 1rem 0 0 0;
  font-weight: 300;
  line-height: 0
}

.WASTE {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0
}

.BoxMarginTop {
  margin-top: 20
}

.FormControl {
  width: 100%;
  margin-bottom: 1.2rem !important
}

.Description {
  font-weight: 300;
  font-size: 1.5rem;
}

.CardContent {
  width: 100%;
  height: 100%
}

.Form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Button {
  border: none;
  padding: 0;
  color: var(--orange);
  transition: color .5s ease;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.Button:disabled {
  color: var(--orange);
}

.Button:hover {
  color: var(--orange-hover);
}

.Label {
  color: #686868 !important
}

.Input {
  color: white !important;
  border: 0;
  border-bottom: 1px solid #686868;
  width: 100%;
  padding-bottom: 5px
}

.Input::before {
  border-bottom: 1px solid #686868 !important;
}