.BoxNumbers {
  padding: 1.5rem 1.1rem;
}

.BoxNumbers_Number {
  font-size: 3.5rem;
  margin: 0;
  color: var(--orange);
  font-weight: bold;
}

.BoxNumbers_NumberDark {
  color: var(--orange-dark);
}

.BoxNumbersText {
  color: #F2F2F2;
  font-family: Roboto;
  font-size: 18px;
  margin: 0;
}