$theme-color: #00b284;
$theme-color--hover: #0af1b5;

@keyframes Enter {
  from {
    -webkit-transform: translateY(28px);
  }
  to {
    -webkit-transform: none;
  }
}
.link-label {
  color: #757575;
  line-height: 1.35;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.02em;
  margin-left: 30px;

  a {
    color: $theme-color;
    transition: 0.2s all ease;

    &:hover {
      color: $theme-color--hover;
    }
  }
  &--bottom {
    margin: 25px 0 0 0;
  }
}
.main {
    width: 840px;
  padding: 50px 50px 0 13px;

    > div {
      &:nth-child(1) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      &:nth-child(2) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 50px;
      }
    }
  }
.logo {
  margin-left: 37px;
}


@media (max-width: 992px) {
  .main {
    padding: 30px 20px;
  }
  .logo {
    margin: 0 0 35px 0;
  }
  .waste {
    display: none;
  }
}
