$theme-color: #00b284;
$theme-color--hover: #0af1b5;

.image--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto;
  margin-bottom: 50px;

    > img {
      border: 1px solid $theme-color;
      border-radius: 50%;
      width: 164px;
      height: 164px;
    }
    > .placeholder {
      border: 1px solid $theme-color;
      border-radius: 50%;
      width: 164px;
      height: 164px;
      background: #f6f6f6;
    }
    > input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:focus + label {
        outline: 2px solid #05654c;
      }
    }
    > label {
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      margin: 0 0 0 40px;
      border: 1px solid #757575;
      border-radius: 3px;
      padding: 10px 20px;
      color: #545454;
      width: auto;

      &:hover {
        border: 1px solid $theme-color;
        color: $theme-color;
      }
    }
    > span {
      margin-left: 20px;
      color: $theme-color;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
}


.div-inputs {
  margin-top: 40px;
  margin-bottom: 40px;

  div.phone {
    .not-verified {
      color: #da6464;
    }
    &.verified {
    }
    .link {
      color: #da6464;
      display: block;
      margin-top: 15px;
      cursor: pointer;
    }
  }


  > div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:
      [container-start] minmax(0, 30em)
      [container-end] minmax(1em, 1fr)
      [viewport-end];

    > div {
      grid-column: container;
    }
  }
}
