.MenuComplexNavegation-wrapper {
  height:  100vh;
  display: inline-block;
  background-color: var(--menu-background-color);
  color: #75829B;
  font-size: .860rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 1px, rgba(0, 0, 0, 0.1) 0px -1px 2px 0px;
  width: 200px
}

@media(max-width: 921px) {
  .MenuComplexNavegation-wrapper {
    display: none;
  }
}

.MenuComplexNavegation-header__div {
  padding-top: 20px;
  text-align: center;
}

.MenuComplexNavegation-header__div > img {
  position: relative;
  border-radius: 5px;
  background: white;
  text-align: center;
  width: 84px;
}

.MenuComplexNavegation-header__div > p {
  margin: 1.75rem 0;
}

.MenuComplexNavegation-sections-wrapper__div {
  width: 180px;
}

.MenuComplexNavegation-sections-wrapper__div >
.MenuComplexNavegation-section-wrapper__div {
  font-weight: bold;
}

.MenuComplexNavegation-sections-wrapper__div >
.MenuComplexNavegation-section-wrapper__div >
.MenuComplexNavegation-section-options__ul {
  padding-left: 28px;
  margin: 0;
}

.MenuComplexNavegation-sections-wrapper__div >
.MenuComplexNavegation-section-wrapper__div >
.MenuComplexNavegation-section-options__ul > li:first-child {
  color: rgba(130, 130, 130, 0.5)
}

.MenuComplexNavegation-sections-wrapper__div >
.MenuComplexNavegation-section-wrapper__div >
.MenuComplexNavegation-section-options__ul > li:not(:last-child) {
  margin-bottom: 21px;
}

.MenuComplexNavegation-sections-wrapper__div >
.MenuComplexNavegation-section-wrapper__div:last-child {
  padding-top: 1.7rem;
  border-top: 2px solid var(--border-color)
}

.logo-typo {
  font-family: 'Share Tech Mono', monospace;
}

.nav-img {
  width: 15px;
  margin-right: 10px;
}
