.Paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2rem;
  color: #183139;
}

.ParagraphSmall {
  color: #183139;
  font-weight: 100;
  font-size: 1.2rem;
  display: inline;
  float: right;
}

.Wrapper {
  width: 375px;
}