h1 {
  margin: 0 0 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #545454;

  span {
    color: #00bf8d;
  }
}
.sub-menu {
  margin-top: 43px;
  margin-bottom: 83px;
  max-width: 400px;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: rgb(84, 84, 84);

    &.--active {
      color: rgb(0, 191, 141);
      padding-bottom: 5px;
      border-bottom: 2px solid rgb(0, 191, 141);
    }
  }
}
