.Wrapper {
  position: relative;
  text-align: center;
  -webkit-transform: rotateX(-17deg) rotateY(-30deg) rotateZ(0deg);
  transform: rotateX(-17deg) rotateY(-30deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 100px;
  top: 65px;
}

.Paragraph {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.ParagraphBlock {
  margin: 2rem 0 0 0;
  text-align: center;
}

.ParagraphBlock p {
  margin: .5rem 0 0 0; 
  opacity: .5;

}

.BoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.TrashCanWrapper {
  position: relative;
}
.TrashCanWrapper img {
  width: 120px;
}
